# Server Configuration
PORT=5000
NODE_ENV=production

# Database (Render will provide this)
DATABASE_URL=postgres://user:password@host:port/dbname

# Admin Auth
ADMIN_WALLET=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
ADMIN_WALLET_PRIVATE_KEY=
JWT_SECRET=change-this-to-a-long-secure-random-string

# AI / Face Match
FACE_MATCH_THRESHOLD=0.6

# SMTP (For OTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
